<pgd-form-group-template
  [formGroup]="loginForm"
  title="loginPage.header"
  submit="loginPage.loginButton"
  (submitClicked)="loginToAccount()"
>
  <ng-container card-content>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>{{ "loginPage.loginLabel" | translate }}</mat-label>
          <input matInput formControlName="login" [type]="'text'" />

          @if (loginForm.controls["login"].hasError("required")) {
            <mat-error>{{ "loginPage.loginRequired" | translate }}</mat-error>
          }
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>{{ "loginPage.passwordLabel" | translate }}</mat-label>
          <input matInput formControlName="password" type="password" />

          @if (loginForm.controls["password"].hasError("required")) {
            <mat-error>{{
              "loginPage.passwordRequired" | translate
            }}</mat-error>
          }
        </mat-form-field>
      </div>
    </div>

    @if (loginForm.hasError("invalid")) {
      <mat-error>{{ "loginPage.invalidInput" | translate }}</mat-error>
    }
  </ng-container>
</pgd-form-group-template>
