<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Registration information</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />

            @if (registerForm.controls["email"].hasError("required")) {
              <mat-error>Email is <strong>required</strong></mat-error>
            }

            @if (registerForm.controls["email"].hasError("email")) {
              <mat-error>Invalid email format</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Login</mat-label>
            <input matInput formControlName="login" />

            @if (registerForm.controls["login"].hasError("required")) {
              <mat-error>Login is <strong>required</strong></mat-error>
            }

            @if (registerForm.controls["login"].hasError("minlength")) {
              <mat-error>Login must be at least 6 characters long</mat-error>
            }

            @if (registerForm.controls["login"].hasError("maxlength")) {
              <mat-error>Login must be no longer than 20 characters</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" />

            @if (registerForm.controls["password"].hasError("required")) {
              <mat-error>Password is <strong>required</strong></mat-error>
            }

            @if (registerForm.controls["password"].hasError("minlength")) {
              <mat-error>Password must be at least 8 characters long</mat-error>
            }

            @if (registerForm.controls["password"].hasError("maxlength")) {
              <mat-error
                >Password must be no longer than 24 characters</mat-error
              >
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Repeat password</mat-label>
            <input matInput formControlName="repeatPassword" type="password" />

            @if (registerForm.controls["repeatPassword"].hasError("required")) {
              <mat-error
                >Repeat password is <strong>required</strong></mat-error
              >
            }
            @if (
              registerForm.controls["repeatPassword"].hasError(
                "passwordMismatch"
              )
            ) {
              <mat-error>Passwords must match</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Date of birth</mat-label>
            <input
              matInput
              formControlName="dateOfBirth"
              [matDatepicker]="picker"
            />

            <mat-hint>MM/DD/YYYY</mat-hint>

            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>

            <mat-datepicker #picker></mat-datepicker>

            @if (registerForm.controls["dateOfBirth"].hasError("required")) {
              <mat-error>Birth date is <strong>required</strong></mat-error>
            }

            @if (registerForm.controls["dateOfBirth"].hasError("dateOfBirth")) {
              <mat-error>Must be a valid date</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button matButton="elevated" color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
